.pageFiller {
  height: 100%;
  position: absolute;
  left: 0px;
  width: 100%;
  overflow: auto;
  background: #393939;
}

.mainRootContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 20px 10%;
}

.basicText {
  color: #b8b8b8;
  font-size: 36px;
}
