#profileRootContainer {
  padding: 20px 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#profileName {
  font-size: 48px;
  color: orange;
}

#profileBio {
  background: #333333;
  display: flex;
  margin-top: 20px;
  padding: 5px;
  color: #b8b8b8;
  font-size: 18px;
  flex: 1;
}

@media (max-width: 600px) {
  #profileRootContainer {
    margin: 20px 10%;
  }
}
