#electionsRootContainer {
  margin: 20px 20%;
}

#electionCurrentCandidates {
  font-size: 24px;
  color: #b8b8b8;
}

@media (max-width: 600px) {
  #electionsRootContainer {
    margin: 20px 10%;
  }
}
