#candidateSignContainer {
  width: 100%;

  padding: 10px;
  margin: 20px 10px;
  border-color: aqua;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
}

#candidateName {
  font-size: 24px;
  color: orange;
  margin-bottom: 10px;
  cursor: pointer;
}

#candidateDescription {
  font-size: 18px;
  color: #b8b8b8;
}
