* {
  box-sizing: border-box;
}

#authFormContainer {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.loginRootContainer {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  padding: 20px 10%;
}

#noAccountHref {
  width: min(80%, 300px);
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
  color: #b8b8b8;
}

#authWarningText {
  margin-left: 10%;
  margin-top: 20px;
  color: #b8b8b8;
  font-size: 24px;
}

.authForm {
  margin: 10px;
}

.pageFiller {
  height: 100%;
  position: absolute;
  left: 0px;
  width: 100%;
  overflow: auto;
  background: #393939;
}
